@font-face {
  font-family: "Helvetica Medium"; /* Name your font */
  src: url("./font/HelveticaNowDisplay-Medium.ttf") format("ttf"), url("./font/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("./font/HelveticaNowDisplay-Medium.woff") format("woff"); /* Additional file formats if needed */
  font-weight: 400;
  font-style: normal;
}
/* Font 1 - Bold */
@font-face {
  font-family: "Helvetica Bold"; /* Name your font */
  src: url("./font/HelveticaNowDisplay-Bold.ttf") format("ttf"), url("./font/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("./font/HelveticaNowDisplay-Bold.woff") format("woff"); /* Additional file formats if needed */
  font-weight: 700;
  font-style: normal;
}
/* Font 2 - Italic */
@font-face {
  font-family: "Helvetica Black"; /* Name your font */
  src: url("./font/HelveticaNowDisplay-Black.ttf") format("ttf"), url("./font/HelveticaNowDisplay-Black.woff2") format("woff2"), url("./font/HelveticaNowDisplay-Black.woff") format("woff"); /* Additional file formats if needed */
  font-weight: 900;
  font-style: italic;
}
body {
  font-family: "Helvetica Medium";
  font-weight: 400;
  color: #ececec;
  background-color: #101010;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fcaf17;
  transition: 0.25s all ease-in-out;
}

button {
  cursor: pointer;
  outline: none;
}

.global_button {
  color: #101010;
  background-color: #fcaf17;
  border: 2px solid #fcaf17;
  outline: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: "Helvetica Bold";
  font-weight: 700;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.32);
  transition: 0.25s all ease-in-out;
}
.global_button:hover {
  background-color: transparent;
  color: #fcaf17;
}
@media (max-width: 575px) {
  .global_button {
    padding: 7px 15px;
  }
}

.section_heading {
  font-size: 48px;
  font-weight: 900;
  font: "Helvetica Black" 48px 900;
  letter-spacing: 1px;
  margin-bottom: 55px;
}
@media (max-width: 1280px) {
  .section_heading {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .section_heading {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .section_heading {
    margin-bottom: 30px;
  }
}

.container {
  max-width: 1440px;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
}
header .header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
header .header_wrapper .left_aside {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  header .header_wrapper .left_aside a img {
    max-width: 40px;
  }
}
header .header_wrapper .left_aside ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-left: 30px;
}
@media (max-width: 575px) {
  header .header_wrapper .left_aside ul {
    display: none;
  }
}
header .header_wrapper .left_aside ul li {
  margin: 0px 20px;
  display: inline-block;
}
header .header_wrapper .right_aside {
  display: flex;
  align-items: center;
}
header .header_wrapper .right_aside .header_search {
  margin-left: 20px;
  height: 50px;
  border-radius: 50px;
  background-color: #5a5a5a;
  position: relative;
}
@media (max-width: 575px) {
  header .header_wrapper .right_aside .header_search {
    display: none;
  }
}
header .header_wrapper .right_aside .header_search::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: url(./images/search.svg) no-repeat center;
}
header .header_wrapper .right_aside .header_search input {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  color: #fff;
  opacity: 0;
  cursor: pointer;
  position: relative;
  z-index: 99;
  background-color: transparent;
  border-radius: 50px;
  transition: 0.25s all ease-in-out;
}
header .header_wrapper .right_aside .header_search input::-moz-placeholder {
  color: #fff;
}
header .header_wrapper .right_aside .header_search input::placeholder {
  color: #fff;
}
header .header_wrapper .right_aside .header_search input:focus {
  width: 220px;
  opacity: 1;
  padding: 5px 45px 5px 25px;
}
header .header_wrapper .right_aside .head-user_button {
  background-color: #5a5a5a;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-left: 18px;
  transition: 0.25s all ease-in-out;
}
@media (max-width: 575px) {
  header .header_wrapper .right_aside .head-user_button {
    display: none;
  }
}
header .header_wrapper .right_aside .head-user_button:hover {
  background-color: #747474;
}

.hero_section {
  position: relative;
}
.hero_section .trailer_banner {
  width: 100%;
  display: none;
}
@media (max-width: 575px) {
  .hero_section .trailer_banner {
    height: calc(100vh - 112px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
.hero_section .trailer_banner.active {
  display: block;
}
.hero_section video {
  width: 100%;
  display: none;
}
@media (max-width: 575px) {
  .hero_section video {
    height: calc(100vh - 112px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
.hero_section video.active {
  display: block;
}
.hero_section video.fullscreen-video {
  -o-object-fit: contain;
     object-fit: contain;
}
.hero_section .play_trailer-button,
.hero_section .pause_trailer-button,
.hero_section .fullscreen-button {
  position: absolute;
  left: 50%;
  top: calc(50% + 60px);
  transform: translate(-50%, -50%);
}
.hero_section .play_trailer-button button,
.hero_section .pause_trailer-button button,
.hero_section .fullscreen-button button {
  border: none;
  outline: none;
  background-color: transparent;
  display: none;
  transition: 0.2s all ease-in-out;
}
.hero_section .play_trailer-button button.active,
.hero_section .pause_trailer-button button.active,
.hero_section .fullscreen-button button.active {
  display: block;
}
.hero_section .play_trailer-button button.invisible,
.hero_section .pause_trailer-button button.invisible,
.hero_section .fullscreen-button button.invisible {
  opacity: 0;
  visibility: hidden;
}
.hero_section .play_trailer-button button img,
.hero_section .pause_trailer-button button img,
.hero_section .fullscreen-button button img {
  width: 80px;
  transition: 0.15s all ease-in-out;
}
@media (max-width: 1280px) {
  .hero_section .play_trailer-button button img,
  .hero_section .pause_trailer-button button img,
  .hero_section .fullscreen-button button img {
    width: 60px;
  }
}
.hero_section .play_trailer-button button:hover img,
.hero_section .pause_trailer-button button:hover img,
.hero_section .fullscreen-button button:hover img {
  transform: scale(1.1);
}
.hero_section .fullscreen-button {
  top: 20px;
  right: 20px;
  left: auto;
  transform: none;
}
.hero_section .fullscreen-button button img {
  width: 40px;
}
@media (max-width: 1280px) {
  .hero_section .fullscreen-button button img {
    width: 25px;
  }
}

.featured_section {
  padding: 100px 0;
}
@media (max-width: 1280px) {
  .featured_section {
    padding: 75px 0;
  }
}
.featured_section .featured_section_wrapper {
  position: relative;
}
.featured_section .nav-tabs {
  position: absolute;
  right: 0;
  top: 18px;
  border-bottom: none;
}
@media (max-width: 991px) {
  .featured_section .nav-tabs {
    font-size: 12px;
    top: 5px;
  }
}
@media (max-width: 575px) {
  .featured_section .nav-tabs {
    position: relative;
    margin-bottom: 20px;
  }
}
.featured_section .nav-tabs .nav-item {
  background: #606060;
  border: none;
  color: #fff;
  border-radius: 50px;
  padding: 5px 25px;
}
.featured_section .nav-tabs .nav-item:not(:first-child) {
  margin-left: 15px;
}
.featured_section .nav-tabs .nav-item .nav-link {
  padding: 0;
  border: none;
}
.featured_section .nav-tabs .nav-item .nav-link:hover {
  color: #fff;
  padding: 0;
}
.featured_section .nav-tabs .nav-item .nav-link.active {
  font-family: "Helvetica Black";
  font-weight: 900;
  background-color: transparent;
  border: none;
  color: #fff;
}
@media (max-width: 991px) {
  .featured_section .featured_games-categorywise {
    text-align: center;
  }
}
.featured_section .featured_games-categorywise img {
  width: 100%;
}
@media (max-width: 991px) {
  .featured_section .featured_games-categorywise img {
    width: auto;
  }
}
@media (max-width: 575px) {
  .featured_section .featured_games-categorywise img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .featured_section .featured_games-categorywise .row > div {
    margin: 20px 0;
  }
}

.news_section {
  padding: 50px 0 100px;
}
@media (max-width: 1280px) {
  .news_section {
    padding: 25px 0 75px;
  }
}
.news_section .news_wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .news_section .news_wrapper {
    display: block;
  }
}
.news_section .news_wrapper img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.news_section .news_wrapper .aside_left {
  width: calc(100% - 320px);
}
@media (max-width: 1280px) {
  .news_section .news_wrapper .aside_left {
    width: 100%;
  }
}
.news_section .news_wrapper .aside_left .news_one > img {
  max-height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_section .news_wrapper .aside_left .news_one .news_buttom {
  padding: 30px;
}
.news_section .news_wrapper .aside_left .news_one .news_buttom h4 {
  font-size: 32px;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .news_section .news_wrapper .aside_left .news_one .news_buttom h4 {
    font-size: 24px;
  }
}
.news_section .news_wrapper .aside_left .news_one .news_buttom span {
  font-size: 16px;
}
@media (max-width: 1280px) {
  .news_section .news_wrapper .aside_left .news_one .news_buttom span {
    font-size: 14px;
  }
}
.news_section .news_wrapper .aside_right {
  width: 280px;
}
@media (max-width: 1280px) {
  .news_section .news_wrapper .aside_right {
    width: 100%;
  }
}
.news_section .news_wrapper .aside_right .news_one:not(:first-child) {
  margin-top: 40px;
}
@media (max-width: 1280px) {
  .news_section .news_wrapper .aside_right .news_one {
    display: inline-block;
    max-width: 300px;
  }
  .news_section .news_wrapper .aside_right .news_one img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news_section .news_wrapper .aside_right .news_one:not(:first-child) {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .news_section .news_wrapper .aside_right .news_one {
    margin-left: 0 !important;
    width: 100%;
    display: block;
    max-width: 100%;
    margin-top: 40px;
  }
}
.news_section .news_wrapper .news_one .news_buttom {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.news_section .news_wrapper .news_one .news_buttom h4 {
  font-size: 13px;
}
.news_section .news_wrapper .news_one .news_buttom span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.game_launcher {
  color: #000000;
  padding: 30px 0 130px;
}
@media (max-width: 1280px) {
  .game_launcher {
    padding: 0px 0 75px;
  }
}
.game_launcher .game_launcher-wrapper {
  padding: 50px 0 50px 50px;
  background-image: linear-gradient(to top right, #ff8282, #ffab00);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .game_launcher .game_launcher-wrapper {
    display: block;
    padding: 15px;
  }
}
.game_launcher .game_launcher-wrapper .gl_left .top_title {
  display: flex;
  align-items: center;
}
.game_launcher .game_launcher-wrapper .gl_left .top_title h3 {
  font-size: 40px;
  font-family: "Helvetica Black";
  font-weight: 900;
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .game_launcher .game_launcher-wrapper .gl_left .top_title h3 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .game_launcher .game_launcher-wrapper .gl_left .top_title h3 {
    font-size: 20px;
  }
}
.game_launcher .game_launcher-wrapper .gl_left p {
  font-size: 32px;
  max-width: 300px;
  margin: 30px 0;
}
@media (max-width: 1280px) {
  .game_launcher .game_launcher-wrapper .gl_left p {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .game_launcher .game_launcher-wrapper .gl_left p {
    font-size: 18px;
    margin: 20px 0;
  }
}
.game_launcher .game_launcher-wrapper .gl_left .global_button {
  font-weight: 900;
  font-family: "Helvetica Black";
  font-size: 18px;
  padding: 18px 70px;
}
.game_launcher .game_launcher-wrapper .gl_left .global_button:hover {
  background-color: #ffaa00;
  color: #000;
}
.game_launcher .game_launcher-wrapper .gl_right {
  padding-left: 20px;
}
.game_launcher .game_launcher-wrapper .gl_right img {
  max-height: 600px;
  width: 100%;
}
@media (max-width: 767px) {
  .game_launcher .game_launcher-wrapper .gl_right img {
    max-height: none;
    margin-top: 30px;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .game_launcher .game_launcher-wrapper .gl_right {
    padding-left: 0;
  }
}

footer {
  background: rgba(0, 0, 0, 0.7);
}
footer .footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
@media (max-width: 991px) {
  footer .footer_wrapper {
    padding: 60px 0;
    display: block;
  }
}
footer .footer_wrapper .left {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  footer .footer_wrapper .left {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
}
footer .footer_wrapper .left .footer_logo {
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 15px;
}
@media (max-width: 991px) {
  footer .footer_wrapper .left .footer_logo {
    margin-bottom: 50px;
  }
}
footer .footer_wrapper .left small {
  opacity: 0.4;
  letter-spacing: 1px;
  margin-left: 35px;
  margin-top: 12px;
  display: block;
}
@media (max-width: 991px) {
  footer .footer_wrapper .left small {
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
  }
}
footer ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  footer ul {
    text-align: center;
  }
}
@media (max-width: 575px) {
  footer ul {
    font-size: 12px;
  }
}
footer ul li {
  display: inline-block;
  margin-left: 35px;
}
@media (max-width: 991px) {
  footer ul li {
    margin: 0 20px;
  }
}
@media (max-width: 575px) {
  footer ul li {
    margin: 0 15px;
    vertical-align: middle;
  }
}
footer ul li a {
  opacity: 1;
}
@media (max-width: 575px) {
  footer ul li a img {
    max-width: 80%;
  }
}/*# sourceMappingURL=style.css.map */